<header>
  <div class="row" *ngIf="user">
    <img class="col-lg-3 col-md-4 col-12   logo" src="../assets/lsr.png" alt="test">
    <h1 class="col-lg-2 col-md-2 slogan col-12">UNE VISION ACTUELLE DE NOS JEUX RETRO</h1>
    <div class="offset-lg-5 offset-9 log">

      <img class="logout" (click)="logout()" src="../assets/logout.png" alt="test">
      <img class="param" src="../assets/roue.png" (click)="parametre()" alt="test">

    </div>
  </div>
  <h2 class="offset-lg-9">bienvenue {{user.login}}</h2>
</header>